[submodule "toast"]
	path = toast
	url = https://cheonghoon-lew:b2b49f66d66d724ba938d5e2b52b6ba20b7de31b@github.nhnent.com/TOASTCLOUD-DOC/Toast_Document_Theme.git
	branch = alpha
[submodule "docs/TOAST"]
	path = docs/TOAST
	url = https://github.com/TOAST-DOCS/TOAST-Cloud.git
	branch = alpha